/* BillPage.css */
.bill-table {
    border-collapse: collapse;
    width: 100%;
}

.bill-table th, .bill-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.bill-table th {
    background-color: #f2f2f2;
}
